{% extends "ZLMbase.html" %}

{% block TITLE %}Steckbrief{% endblock %}

{% block CONTENT %}
<div id="summary" class="row py-2">
    <div class="col-md-12 col-lg-6 px-4">
        <h3>Steckbrief :: Zusammenfassung</h3>
        <p>Ich habe das Maschinelle Lernen mit Python anhand von Lotto-Spielen ausprobiert.
           Die Prognosen waren eher bescheiden.
           Daraus entstand ZL::ML, eine Arbeit, die zeigt,
           wie Maschinelles Lernen und die Prognose von Lottozahlen mit dem Zufall zusammenhängen.</p>
    </div>
    <div class="col-md-12 col-lg-6 px-4">
        <h3>Steckbrief :: Technologie</h3>
        <p>Web-Applikation: Python, Pandas, Sklearn, Django-Framework</p>
    </div>
</div>
<div id="features" class="row py-2">
    <div class="col-md-12 col-lg-6 col-xl-4 px-4">
        <h3>Funktion :: Zufalls Lotto Spiel</h3>
        <p>6 Zahlen zwischen 1 und 49 - eine Zusatzzahl zwischen 1 und 12</p>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4 px-4">
        <h3>Funktionen :: Maschinelles Lernen</h3>
        <p>Logistische Regression zur Prognose der nächsten Ziehung<br>
           1000 Zufalls-Ziehungen und gleitende Durchschnitte als Grundlage<br>
           jede neue Zufalls-Ziehung wird den Grundlagen hinzugefügt</p>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4 px-4">
        <h3>Funktion :: Resultate</h3>
        <p>Prognose mit nächster Zufalls-Ziehung vergleichen<br>
           Zufalls-Tipp mit nächster Zufalls-Ziehung vergleichen<br>
           Mehrere Prognosen und Zufallsziehungen möglich<br>
           Zusammenfassung aller Ziehungen am Schluss</p>
    </div>
</div>
<div id="targets" class="row py-2">
    <div class="col-md-12 col-lg-6 col-xl-4 px-4">
        <h3>Ziel :: Maschinelles Lernen</h3>
        <p>Logistische Regression mit Python</p>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4 px-4">
        <h3>Ziel :: Algorithmische Automatisation</h3>
        <p>Vollständiger Ablauf ohne manuelle Eingaben</p>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4 px-4">
        <h3>Ziel :: Applikation</h3>
        <p>Interoperabel und im Web verfügbar</p>
    </div>
</div>
<div id="start" class="row py-2">
    <div class="col px-4">
        <a href="{% url 'PYE24app:ZLMdraws' %}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Spiel starten</a>
    </div>
</div>
<div id="back" class="row py-2">
    <div class="col px-4">
        <a href="https://www.erasand.ch/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Zurück zu erasand.ch</a>
    </div>
</div>
{% endblock %}
